.container {
    background-color: #F1F5F9;
}

.bestSellerContainer {
    max-width: 1400px;
    margin: 40px auto;
    padding: 20px 20px;
}

.card_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 40px 0;
}