.container {
    max-width: 1400px;
    margin: 40px auto;
    padding: 0 20px;
}

.products_layout {
    width: 100%;
}

.filter_section {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 10px 10px;
    border: 2px solid #dedede;
}

.product_filters {
    flex-grow: 1;
    padding: 10px 10px;
    border: 2px solid #dedede;
    min-width: 200px;
}

.card_section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 40px 0;
}